# Dependencies
node_modules/

# Build output
dist/
dist-electron/
dist-release/
dist-build/

# Electron builder cache
.electron-builder-cache/
.electron-cache/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment
.env
.env.local

# Temp files
*.tmp
*.temp
